<a href="https://colab.research.google.com/github/dhyan95/Self-Learning-Python-Journey/blob/main/Customer_Transactions_Analyzer_(pandas_only).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

Data Loading & Inspection

In [3]:
df = pd.read_csv('/content/sample_dataset.csv')
df

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,752858,Sean,Rodriguez,F,20-10-2002,35.47,03-04-2023,Smith-Russell,Cosmetic
1,26381,Michelle,Phelps,NaN,24-10-1985,2552.72,17-07-2023,"Peck, Spence and Young",Travel
2,305449,Jacob,Williams,M,25-10-1981,115.97,20-09-2023,Steele Inc,Clothing
3,988259,Nathan,Snyder,M,26-10-1977,11.31,11-01-2023,"Wilson, Wilson and Russell",Cosmetic
4,764762,Crystal,Knapp,F,02-11-1951,62.21,13-06-2023,Palmer-Hinton,Electronics
...,...,...,...,...,...,...,...,...,...
49995,891845,Christine,Leach,F,21-10-1997,108.74,30-08-2023,Alexander Ltd,Market
49996,800560,Anna,Allen,F,21-10-1999,133.66,03-05-2023,Knapp-Calhoun,Cosmetic
49997,133285,Nicole,Franklin,M,26-10-1979,464.29,12-02-2023,"Cantrell, Haynes and Ballard",Market
49998,616122,Maria,Keller,M,25-10-1981,472.57,25-03-2023,"Wilson, Jackson and Beard",Market
49999,832184,Billy,Walker,F,31-10-1958,270.67,20-05-2023,Combs LLC,Market

In [4]:
df.columns

Index(['Customer ID', 'Name', 'Surname', 'Gender', 'Birthdate',
       'Transaction Amount', 'Date', 'Merchant Name', 'Category'],
      dtype='object')

In [5]:
df.describe()

        Customer ID  Transaction Amount
count   50000.00000        50000.000000
mean   500136.79696          442.119239
std    288232.43164          631.669724
min        29.00000            5.010000
25%    251191.50000           79.007500
50%    499520.50000          182.195000
75%    749854.25000          470.515000
max    999997.00000         2999.880000

In [6]:
df.dtypes

Customer ID             int64
Name                   object
Surname                object
Gender                 object
Birthdate              object
Transaction Amount    float64
Date                   object
Merchant Name          object
Category               object
dtype: object

In [7]:
df.nunique(axis=0)   #distinct elements in columns

Customer ID           50000
Name                    690
Surname                1000
Gender                    2
Birthdate                58
Transaction Amount    34665
Date                    287
Merchant Name         36939
Category                  6
dtype: int64

In [8]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

In [9]:
df.isna()

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
49995,False,False,False,False,False,False,False,False,False
49996,False,False,False,False,False,False,False,False,False
49997,False,False,False,False,False,False,False,False,False
49998,False,False,False,False,False,False,False,False,False
49999,False,False,False,False,False,False,False,False,False

Basic Indexing & Selection

In [10]:
df[['Transaction Amount','Date']]

       Transaction Amount        Date
0                   35.47  03-04-2023
1                 2552.72  17-07-2023
2                  115.97  20-09-2023
3                   11.31  11-01-2023
4                   62.21  13-06-2023
...                   ...         ...
49995              108.74  30-08-2023
49996              133.66  03-05-2023
49997              464.29  12-02-2023
49998              472.57  25-03-2023
49999              270.67  20-05-2023

[50000 rows x 2 columns]

In [11]:
df['Transaction Amount']>300

0        False
1         True
2        False
3        False
4        False
         ...
49995    False
49996    False
49997     True
49998     True
49999    False
Name: Transaction Amount, Length: 50000, dtype: bool

In [12]:
df.loc[df['Merchant Name'] == 'Smith-Russell']

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,752858,Sean,Rodriguez,F,20-10-2002,35.47,03-04-2023,Smith-Russell,Cosmetic
35341,61091,Troy,Martinez,F,30-10-1962,180.02,16-02-2023,Smith-Russell,Cosmetic

In [13]:
df.loc[df['Category'] == 'Electronics'].shape

(8324, 9)

Data Cleaning & Transformation

In [14]:
df['Gender'].dtype

dtype('O')

In [15]:
df['Gender'].astype('category')   #changed gender to categorical type - saves memory.

0          F
1        NaN
2          M
3          M
4          F
        ...
49995      F
49996      F
49997      M
49998      M
49999      F
Name: Gender, Length: 50000, dtype: category
Categories (2, object): ['F', 'M']

In [16]:
invalid_mask = df['Transaction Amount']<=0
invalid_mask.sum()

#.count() â†’ â€œHow many non-null values exist?â€
#.sum() on booleans â†’ â€œHow many conditions are satisfied?â€

np.int64(0)

In [17]:
df['Category'] = df['Category'].str.lower().str.strip()  #lower case followed by removing whitespaces
df['Category']

0           cosmetic
1             travel
2           clothing
3           cosmetic
4        electronics
            ...
49995         market
49996       cosmetic
49997         market
49998         market
49999         market
Name: Category, Length: 50000, dtype: object

In [18]:
#Extract age from Birthdate using pd.to_datetime and .dt.year
df['Birthdate'] = pd.to_datetime(df['Birthdate'])
df['Birthdate']

/tmp/ipython-input-101975404.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Birthdate'] = pd.to_datetime(df['Birthdate'])

0       2002-10-20
1       1985-10-24
2       1981-10-25
3       1977-10-26
4       1951-11-02
           ...
49995   1997-10-21
49996   1999-10-21
49997   1979-10-26
49998   1981-10-25
49999   1958-10-31
Name: Birthdate, Length: 50000, dtype: datetime64[ns]

In [19]:
current_year = pd.Timestamp.today().year
df['Age'] = current_year-df['Birthdate'].dt.year
df['Age']

0        23
1        40
2        44
3        48
4        74
         ..
49995    28
49996    26
49997    46
49998    44
49999    67
Name: Age, Length: 50000, dtype: int32

Descriptive Analytics

In [20]:
df['Transaction Amount'].mean()

np.float64(442.1192394)

In [21]:
df['Transaction Amount'].std()

631.6697236039846

In [22]:
df['Transaction Amount'].sum()

np.float64(22105961.970000003)

In [23]:
#transactions per customer
df.groupby('Customer ID')['Transaction Amount'].count()

Customer ID
29        1
51        1
54        1
83        1
90        1
         ..
999904    1
999914    1
999942    1
999949    1
999997    1
Name: Transaction Amount, Length: 50000, dtype: int64

In [24]:
#Number of transactions per category
df.groupby('Category')['Merchant Name'].count().sort_values(ascending=False)

Category
restaurant     8413
market         8382
travel         8377
electronics    8324
clothing       8261
cosmetic       8243
Name: Merchant Name, dtype: int64

In [25]:
#age and gender aggregations
df.groupby('Age')['Gender'].value_counts().sort_index(ascending=False)

Age  Gender
77   M         396
     F         389
76   M         366
     F         402
75   M         383
              ...
22   F         400
21   M         407
     F         388
20   M         403
     F         403
Name: count, Length: 116, dtype: int64

Time-Based Analytics

In [26]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df['Date'].dt.day

0         3
1        17
2        20
3        11
4        13
         ..
49995    30
49996     3
49997    12
49998    25
49999    20
Name: Date, Length: 50000, dtype: int32

In [27]:
df['Date'].dt.weekday

0        0
1        0
2        2
3        2
4        1
        ..
49995    2
49996    2
49997    6
49998    5
49999    5
Name: Date, Length: 50000, dtype: int32

In [28]:
#Resample transactions by day/week/month
df['Date'] = pd.to_datetime(df['Date'])
df_time = df.set_index('Date')

In [29]:
#daily revenue
daily_revenue = df_time.resample('D')['Transaction Amount'].sum()   #('W') for weekly and ('M') for monthly
daily_revenue

Date
2023-01-01    65531.45
2023-01-02    78895.54
2023-01-03    60747.61
2023-01-04    93617.86
2023-01-05    87047.84
                ...
2023-10-10    69725.13
2023-10-11    68695.91
2023-10-12    77538.69
2023-10-13    53111.62
2023-10-14    86951.43
Freq: D, Name: Transaction Amount, Length: 287, dtype: float64

Rolling computes metrics over a moving window.
Unlike resample, rolling does not collapse rows â€” it adds context to each row.
Rolling always needs sorted time order.

In [30]:
#Compute rolling sums/averages per customer
df = df.sort_values(['Customer ID', 'Date'])

In [31]:
df['rolling_7d_sum'] = (
    df.groupby('Customer ID')['Transaction Amount']
    .rolling(7)
    .sum()
    .reset_index(level=0, drop=True)  #Level 0 â†’ Customer ID; Level 1 â†’ original DataFrame index
)

Ranking

In [33]:
#Rank transactions per customer
df.groupby('Customer ID')['Transaction Amount'].rank(method='dense',ascending=False)

9555     1.0
1698     1.0
32441    1.0
29293    1.0
48419    1.0
        ...
33425    1.0
40353    1.0
40696    1.0
25814    1.0
4858     1.0
Name: Transaction Amount, Length: 50000, dtype: float64

In [36]:
#Flag top 5% transactions globally
df['Transaction Amount'].quantile(0.95)

np.float64(2104.083999999999)